.calender {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.calender > span {
  color: #fd242a;
  font-weight: 400;
  font-size: 30px;
  margin: 20px 0;
}

.container {
  display: flex;
  align-items: center;
}

.left {
  height: 100%;
}

.calendar {
  padding: 2rem;
  width: 70%;
  margin: 0 auto;
  background-color: #ece3fe;
  color: #222;
  border: 4px solid #d3befc;
  border-radius: 27px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.drop-events {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 393px;
  height: 250px;
  background: #ece3fe;
  border: 4px solid #d3befc;
  border-radius: 27px;
}

.drop-events button,
.right form button {
  width: 235px;
  height: 40px;
  background: #f8edff;
  border: 1px solid #c5a5fa;
  box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.25), 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.drop-events .event-list {
  width: 364px;
  height: 222px;
  background: #f8edff;
  mix-blend-mode: normal;
  opacity: 0.73;
  border-radius: 12px;
}

.right form {
  width: 383px;
  height: 243px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.right form input[type="text"],
.right form input[type="date"] {
  outline: 0;
  border: 0;
  height: 44px;
  background: #f8edff;
  border-radius: 12px;
  padding-left: 15px;
  font-weight: bold;
}

.radio-input,
.radio-input div {
  display: flex;
  align-items: center;
}

.radio-input {
  gap: 1rem;
}

.right form button {
  width: 383px;
}
